<br>
<div class="jumbotron">
    <h1>What is Blocitoff?</h1>
    <p>Blocitoff allows you to create self-destructing todo lists. Blocitoff will aim to keep todo lists manageable by automatically deleting todo
items that have not been completed after seven days. The hypothesis is that if the todo item is not important enough to be completed in seven days,
it doesn't belong on your todo list.</p>
</div>